[submodule "cadastro-ativos-api"]
	path = cadastro-ativos-api
	url = https://github.com/vitoriabentes/cadastro-ativos-api
[submodule "precos-atualizar-job"]
	path = precos-atualizar-job
	url = https://github.com/vitoriabentes/precos-atualizar-job.git
[submodule "precos-ativo-alterado-job"]
	path = precos-ativo-alterado-job
	url = https://github.com/le-affes/precos-ativo-alterado-job.git
[submodule "cadastro-corretoras-api"]
	path = cadastro-corretoras-api
	url = https://github.com/tdlp2003/cadastro-corretora-api/
